name: Radish BDD Tests with Allure

permissions:
  contents: write

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      selenium:
        image: selenium/standalone-chrome:latest
        ports:
          - 4444:4444

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Setup Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: pip install -r requirements.txt

      # 4️⃣ Verify Radish
      - name: Verify Radish
        run: |
          radish --version
          which radish

      # 5️⃣ Run Radish tests (✅ CORRECT WAY)
      - name: Run Radish tests
        run: |
          radish features \
            --junit-xml=allure-results/junit.xml \

        env:
          GRID_URL: http://selenium:4444/wd/hub


      # 6️⃣ Install Allure CLI
      - name: Install Allure CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip wget

          ALLURE_VERSION=2.36.0
          wget https://github.com/allure-framework/allure2/releases/download/${ALLURE_VERSION}/allure-${ALLURE_VERSION}.zip

          unzip allure-${ALLURE_VERSION}.zip
          sudo mv allure-${ALLURE_VERSION} /opt/allure
          sudo ln -sf /opt/allure/bin/allure /usr/bin/allure

          allure --version

      - name: Install Chrome & ChromeDriver
        run: |
          sudo apt-get install -y wget unzip xvfb
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo dpkg -i google-chrome-stable_current_amd64.deb || sudo apt-get install -f -y
          CHROME_VERSION=$(google-chrome --version | awk '{print $3}')
          wget https://chromedriver.storage.googleapis.com/$CHROME_VERSION/chromedriver_linux64.zip
          unzip chromedriver_linux64.zip
          sudo mv chromedriver /usr/local/bin/
          
      

      # 7️⃣ Generate Allure Report
      - name: Generate Allure Report
        if: always()
        run: |
          if [ -d allure-history ]; then
            cp -r allure-history allure-results/history
          fi

          allure generate allure-results --clean -o allure-report

          cp -r allure-report/history allure-history

      # 8️⃣ Deploy Allure Report
      - name: Deploy Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-report
          keep_files: true
          force_orphan: true

      # 9️⃣ Print Report URL
      - name: Allure Report URL
        run: |
          echo "::notice title=Allure Report::https://nagarajlakshatti2.github.io/selenium_radish_bdd_frameworks/"
